RewriteEngine On

# ls -a # "-a" flag : for listing dot-files also

# allowed: index.php , www/
# denied: all the rest

RewriteRule .git - [F]
RewriteRule .htaccess - [F]
RewriteRule .idea - [F]
RewriteRule .vscode - [F]
RewriteRule db - [F]
RewriteRule docs - [F]
# RewriteRule index.php - [F]
RewriteRule manager - [F]
RewriteRule readme.md - [F]
RewriteRule routes - [F]
RewriteRule templates - [F]
# RewriteRule www - [F]
