body {
    background-color: lightgreen;
    padding: 10px;
}

.todo_list>a>div>input[type=checkbox] {
    width: 3em;
    height: 3em;
    vertical-align: middle;
}

.todo_list>a {
    text-decoration: none;
    color: initial;
    display: block;
}